<h1> 2. Creating a sampled dataset </h1>

This notebook illustrates:
<ol>
<li> Sampling a BigQuery dataset to create datasets for ML
<li> Preprocessing with Pandas
</ol>

In [3]:
!sudo chown -R jupyter:jupyter /home/jupyter/training-data-analyst

In [4]:
# Ensure the right version of Tensorflow is installed.
!pip freeze | grep tensorflow==2.5

tensorflow==2.5.0

In [5]:
# change these to try this notebook out
BUCKET = 'dev-xai-natality'
PROJECT = 'hack4ssb-team1'
REGION = 'europe-west3'

In [6]:
import os
os.environ['BUCKET'] = BUCKET
os.environ['PROJECT'] = PROJECT
os.environ['REGION'] = REGION

In [7]:
%%bash
if ! gsutil ls | grep -q gs://${BUCKET}/; then
  gsutil mb -l ${REGION} gs://${BUCKET}
fi

<h2> Create ML dataset by sampling using BigQuery </h2>
<p>
Let's sample the BigQuery data to create smaller datasets.
</p>

In [8]:
# Create SQL query using natality data after the year 2000
from google.cloud import bigquery
query = """
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks,
  FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
FROM
  publicdata.samples.natality
WHERE year > 2000
"""

There are only a limited number of years and months in the dataset. Let's see what the hashmonths are.

In [9]:
# Call BigQuery but GROUP BY the hashmonth and see number of records for each group to enable us to get the correct train and evaluation percentages
df = bigquery.Client().query("SELECT hashmonth, COUNT(weight_pounds) AS num_babies FROM (" + query + ") GROUP BY hashmonth").to_dataframe()
print("There are {} unique hashmonths.".format(len(df)))
df.head()

There are 96 unique hashmonths.

             hashmonth  num_babies
0 -7170969733900686954      331274
1  5896567601480310696      342825
2 -5742197815970064689      359684
3  -774501970389208065      349134
4   454960867574323744      346515

Here's a way to get a well distributed portion of the data in such a way that the test and train sets do not overlap:

In [21]:
# Added the RAND() so that we can now subsample from each of the hashmonths to get approximately the record counts we want
trainQuery = "SELECT * FROM (" + query + ") WHERE ABS(MOD(hashmonth, 4)) < 3 AND RAND() < 0.0005"
evalQuery = "SELECT * FROM (" + query + ") WHERE ABS(MOD(hashmonth, 4)) = 3 AND RAND() < 0.0005"
traindf = bigquery.Client().query(trainQuery).to_dataframe()
evaldf = bigquery.Client().query(evalQuery).to_dataframe()
print("There are {} examples in the train dataset and {} in the eval dataset".format(len(traindf), len(evaldf)))

There are 13128 examples in the train dataset and 3330 in the eval dataset

<h2> Preprocess data using Pandas </h2>
<p>
Let's add extra rows to simulate the lack of ultrasound. In the process, we'll also change the plurality column to be a string.

In [22]:
traindf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.719282,False,27,1,39.0,3095933535584005890
1,5.749656,True,36,1,34.0,3095933535584005890
2,5.621788,False,32,1,43.0,3095933535584005890
3,3.562670,True,30,1,34.0,3095933535584005890
4,5.687926,True,26,1,38.0,3095933535584005890

Also notice that there are some very important numeric fields that are missing in some rows (the count in Pandas doesn't count missing data)

In [23]:
# Let's look at a small sample of the training data
traindf.describe()

,weight_pounds,mother_age,plurality,gestation_weeks,hashmonth
count,13117.000000,13128.000000,13128.000000,13031.000000,1.312800e+04
mean,7.220012,27.347730,1.036563,38.611925,3.102229e+17
std,1.341189,6.132905,0.202154,2.626310,5.183621e+18
min,0.500449,13.000000,1.000000,17.000000,-9.183606e+18
25%,6.563162,22.000000,1.000000,38.000000,-3.340563e+18
50%,7.312733,27.000000,1.000000,39.000000,-3.280124e+17
75%,8.057896,32.000000,1.000000,40.000000,4.331750e+18
max,12.063695,51.000000,5.000000,47.000000,8.599690e+18

In [24]:
# It is always crucial to clean raw data before using in ML, so we have a preprocessing step
import pandas as pd
def preprocess(df):
  # clean up data we don't want to train on
  # in other words, users will have to tell us the mother's age
  # otherwise, our ML service won't work.
  # these were chosen because they are such good predictors
  # and because these are easy enough to collect
  df = df[df.weight_pounds > 0]
  df = df[df.mother_age > 0]
  df = df[df.gestation_weeks > 0]
  df = df[df.plurality > 0]
  
  # modify is_male truth value to be an integer (0 or 1)
  sex = dict(zip([False, True], [0, 1]))
  df['is_male'].replace(sex, inplace=True)
  
  return df

In [25]:
traindf.head()# Let's see a small sample of the training data now after our preprocessing
traindf = preprocess(traindf)
evaldf = preprocess(evaldf)
traindf.head()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,8.719282,0,27,1,39.0,3095933535584005890
1,5.749656,1,36,1,34.0,3095933535584005890
2,5.621788,0,32,1,43.0,3095933535584005890
3,3.562670,1,30,1,34.0,3095933535584005890
4,5.687926,1,26,1,38.0,3095933535584005890

In [26]:
traindf.tail()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
13123,5.813590,1,21,2,32.0,-774501970389208065
13124,8.470160,1,30,1,39.0,-774501970389208065
13125,8.624484,0,28,1,40.0,-774501970389208065
13126,6.624891,0,24,1,41.0,-774501970389208065
13127,6.602845,0,21,1,39.0,-774501970389208065

In [27]:
# Describe only does numeric columns, so you won't see plurality
traindf.describe()

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
count,13021.000000,13021.000000,13021.000000,13021.000000,13021.000000,1.302100e+04
mean,7.221837,0.516243,27.344981,1.036249,38.620997,3.200781e+17
std,1.338578,0.499755,6.123250,0.201166,2.593751,5.181673e+18
min,0.500449,0.000000,13.000000,1.000000,19.000000,-9.183606e+18
25%,6.563162,0.000000,22.000000,1.000000,38.000000,-3.340563e+18
50%,7.312733,1.000000,27.000000,1.000000,39.000000,-3.280124e+17
75%,8.060100,1.000000,32.000000,1.000000,40.000000,4.331750e+18
max,12.063695,1.000000,51.000000,5.000000,47.000000,8.599690e+18

<h2> Write out </h2>
<p>
In the final versions, we want to read from files, not Pandas dataframes. So, write the Pandas dataframes out as CSV files. 
Using CSV files gives us the advantage of shuffling during read. This is important for distributed training because some workers might be slower than others, and shuffling the data helps prevent the same data from being assigned to the slow workers.

In [28]:
traindf.to_csv('train.csv', index=False, header=False)
evaldf.to_csv('eval.csv', index=False, header=False)

In [16]:
%%bash
wc -l *.csv
head *.csv
tail *.csv

   6358 eval.csv
  26626 train.csv
  32984 total
==> eval.csv <==
9.06320359082,False,37,Single(1),38.0,8904940584331855459
7.75365775454,False,18,Single(1),38.0,-7146494315947640619
8.1240343547,False,23,Single(1),40.0,6365946696709051755
8.68841774542,True,18,Single(1),41.0,-4740473290291881219
6.4992274837599995,False,20,Single(1),38.0,6365946696709051755
7.5618555866,True,27,Single(1),41.0,270792696282171059
6.9996768185,False,32,Single(1),36.0,8904940584331855459
7.63019888782,True,26,Single(1),40.0,1569531340167098963
7.31273323054,False,17,Single(1),38.0,-6141045177192779423
6.93794738514,False,21,Single(1),40.0,-1866590652208008467

==> train.csv <==
7.12534030784,False,23,Single(1),31.0,3095933535584005890
5.24920645822,True,26,Single(1),37.0,3095933535584005890
6.6248909731,False,25,Single(1),37.0,3095933535584005890
6.8673994613,False,32,Single(1),39.0,3095933535584005890
6.87621795178,True,20,Single(1),39.0,3095933535584005890
7.06361087448,True,20,Single(1),40.0,3095933535584005890
6.8563763481999995,False,24,Single(1),44.0,3095933535584005890
8.24749322142,True,25,Single(1),39.0,3095933535584005890
7.2201390805,True,26,Single(1),39.0,3095933535584005890
7.81318256528,True,28,Single(1),38.0,3095933535584005890
==> eval.csv <==
5.8973655085,Unknown,27,Single(1),36.0,270792696282171059
7.06361087448,Unknown,31,Single(1),39.0,2246942437170405963
5.8135898489399995,Unknown,20,Single(1),38.0,2246942437170405963
8.437090766739999,Unknown,16,Single(1),38.0,6365946696709051755
7.5618555866,Unknown,20,Single(1),40.0,-7146494315947640619
7.25100379718,Unknown,21,Single(1),36.0,-1866590652208008467
7.6720867176,Unknown,28,Single(1),38.0,-6141045177192779423
8.18796841068,Unknown,24,Single(1),39.0,3182182455926341111
8.3224503905,Unknown,23,Single(1),39.0,-6141045177192779423
7.64563124616,Unknown,27,Single(1),40.0,-6910174677251748583

==> train.csv <==
5.56226287026,Unknown,36,Single(1),40.0,-774501970389208065
7.6941329438,Unknown,18,Single(1),39.0,-774501970389208065
8.12623897732,Unknown,23,Single(1),37.0,-774501970389208065
7.12313568522,Unknown,23,Single(1),40.0,-774501970389208065
7.2973008722,Unknown,36,Single(1),37.0,-774501970389208065
6.75055446244,Unknown,34,Single(1),38.0,-774501970389208065
7.81097794266,Unknown,41,Single(1),39.0,-774501970389208065
4.68702769012,Unknown,22,Single(1),35.0,-774501970389208065
7.06361087448,Unknown,25,Single(1),42.0,-774501970389208065
8.935335478859999,Unknown,36,Single(1),38.0,-774501970389208065

Copyright 2020 Google Inc. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License